.cardTitle {
  font-size: 1.2rem;
}

.cardDescription>p {
  height: 3rem;
  margin-bottom: 0;
  font-size: 0.8rem;
}

.linkItems {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}

.linkItem span {
  color: var(--ifm-color-emphasis-900)
}

.linkItem:hover span {
  color: var(--ifm-color-primary);
  text-decoration: var(--ifm-link-hover-decoration);;
}

.linkItem img {
  transform: translateY(6px);
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.themeInvert {
  filter: var(--dark-mode-invert);
}
