.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  transition-property: border, box-shadow;
}

.cardContainer:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.blogAuthor img[class~="avatar__photo"] {
  width: 6rem;
  height: 6rem;
}

.blogAuthor div[class~="avatar__intro"] {
  padding-bottom: 24px;
}

.email {
  margin-top: -32px;
  padding-left: calc(7rem - 4px);
  direction: rtl;
  color: var(--ifm-color-emphasis-700);
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
