.footerContainer {
  position: relative;
  margin-top: 50px;
}

.wave {
  background-color: var(--ifm-color-primary);
  display: grid;
  place-items: center;
  padding: 12px;
}

.text {
  color: var(--ifm-color-emphasis-100);
  text-align: center;
}

.duck {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -40px;
  right: 40px;
}

.footerBreak {
  display: none;
}

@media screen and (max-width: 820px) {
  .footerBreak {
    display: block;
  }

  .dash {
    display: none;
  }

  .duck {
    right: 20px;
  }
}
