.footerContainer {
  position: relative;
  margin-top: 100px;
    height: fit-content; /* Adjust based on your wave SVG height */
    width: 100%;
}

.wave { 
  background-color: var(--ifm-color-primary);
  position: absolute;
  top: 0;
  width: 100%;
  display: flex; 
  min-height: 50px;
}

.duck {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -40px;
  right: 40px;
}

.text { 
  color: var(--ifm-color-emphasis-100);
  font-size: 16px;
  align-content: center;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .footerBreak { 
   display: none;
  }
}

@media only screen and (max-width: 800px) {
  .dash {
    display: none;
  }
  .duck {
    right: 20px;
  }
  .wave { 
    padding: 10px;
    min-height: 100px;
  }
}
