.githubLinkBox {
  background-color: var(--ifm-hover-overlay);
  border: 1px solid #ddd;
  border-radius: var(--ifm-global-radius);
  text-align: center;
  padding: 1rem;
  margin: 1rem 0;
  transition-property: background-color, border-color;
  transition-duration: var(--ifm-transition-fast);
  transition-timing-function: var(--ifm-transition-timing-default);
}

.githubLink:hover {
  color: var(--ifm-color-primary-darker);
  text-decoration: none;
}

html[data-theme="dark"] .githubLinkBox {
  border: 1px solid #444;
}
